<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .author, .author td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<a th:href="@{/}" href="index.html">Main page</a>

<h1>Author:</h1>

<table class="author">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td>
            <a th:href="@{'/author-operations/authors/edit/{name}'(name=${author.name})}"
               href="authorEdit.html">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>