<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding: 20px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }

        a {
            padding: 2px;
            margin: 4px;
        }
    </style>
</head>
<body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a th:href="@{/}" href="index.html" class="h5 my-0 me-md-auto fw-normal">Main page</a>
    <nav class="my-2 my-md-0 me-md-3">
        <a th:href="@{/authors/add}" href="authorSave.html" class="btn btn-outline-primary">Add author</a>
    </nav>
</header>

<h2>Authors:</h2>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td>
            <a th:text="${author.name}" th:href="@{'/authors/{author}'(author=${author.name})}"
               href="author.html">John Doe</a>
        </td>
        <td>
            <a th:href="@{'/authors/edit/{author}'(author=${author.name})}"
               href="authorEdit.html">Edit</a>
        </td>
        <td>
            <form th:object="${author}" th:action="@{'/authors/{author}'(author=${author.name})}"
                  th:method="post">
                <button type="submit" class="btn">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>