<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<a th:href="@{/}" href="index.html">Main page</a>
<a th:href="@{/book-operations/books/add}" href="bookSave.html">Add book</a>

<br>
<br>
<form th:action="@{'/book-operations/books/comment'}"
      th:method="get">
    <input type="text" name="comment" placeholder="Input book comment"
           class="form-control"><br>
    <button type="submit" class="btn btn-success">Find book by comment</button>
</form>

<br>
<br>

<h2>Books:</h2>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td>
            <a th:text="${book.title}" th:href="@{'/book-operations/books/title/{title}'(title=${book.title})}"
               href="book.html">Book</a>
        </td>
        <td>
            <a th:text="${book.author.name}"
               th:href="@{'/book-operations/books/author/{author}'(author=${book.author.name})}"
               href="book.html">Author</a>
        </td>
        <td>
            <a th:text="${book.genre.name}"
               th:href="@{'/book-operations/books/genre/{genre}'(genre=${book.genre.name})}"
               href="book.html"></a>
        </td>
        <td>
            <a th:href="@{'/book-operations/books/edit/{title}'(title=${book.title})}"
               href="bookEdit.html">Edit</a>
        </td>
        <td>
            <form th:object="${book}" th:action="@{'/book-operations/books/{title}'(title=${book.title})}"
                  th:method="post">
                <button type="submit" class="btn">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>