<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding: 20px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <input onclick="window.history.go(-1); return false;" type="submit" value="Previous page" style="margin: 15px;"/>
    <a th:href="@{/}" href="index.html" class="h5 my-0 me-md-auto fw-normal">Main page</a>
</header>

<form>
    <h1>Book Info:</h1>

    <div class="row">
        <label for="input-title">Title:</label>
        <input id="input-title" type="text" value="Book title"/>
    </div>
    <br>
    <div class="row">
        <label for="input-author">Author:</label>
        <input id="input-author" type="text" list="authorList"/>
        <datalist id="authorList" th:each="author : ${authors}">
            <option th:text="${author.name}">Author</option>
        </datalist>
    </div>
    <br>
    <div class="row">
        <label for="input-genre">Genre:</label>
        <input id="input-genre" type="text" list="genreList"/>
        <datalist id="genreList" th:each="genre : ${genres}">
            <option th:text="${genre.name}">Genre</option>
        </datalist>
    </div>

    <div class="row">
        <button type="button" id="button">Save</button>
    </div>
</form>

<script>
    document.getElementById('button').onclick = function () {
        const title = document.getElementById('input-title').value;
        const author = document.getElementById('input-author').value;
        const genre = document.getElementById('input-genre').value;

        $.ajax({
            url: '/api/books',
            method: 'post',
            contentType: "application/json",
            data: JSON.stringify({title: title, authorName: author, genreName: genre})
        })
        document.location.href = '/books'
    }
</script>

</body>
</html>