<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<a th:href="@{/}" href="index.html">Main page</a>

<form action="/comment-operations/comments/add" method="post">
    <h1>Comment Info:</h1>

    <div class="row">
        <label for="holder-input">Content:</label>
        <input id="holder-input" name="content" type="text" value="Content"/>
    </div>
    <div class="row">
        <label for="holder-input2">Book:</label>
        <input id="holder-input2" name="book" type="text" value="Book"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>