<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding: 20px;
        }

        .genre td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <input onclick="window.history.go(-1); return false;" type="submit" value="Previous page" style="margin: 15px;"/>
    <a th:href="@{/}" href="index.html" class="h5 my-0 me-md-auto fw-normal">Main page</a>
</header>

<h1>Genre:</h1>

<table class="genre">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script th:inline="javascript">
    const genre = /*[[${genre.id}]]*/ '';
    $(function () {
        $.get('/api/genres/id?id=' + genre).done(function (genre) {
            $('tbody').append(`
                    <tr>
                        <td>${genre.id}</td>
                        <td>
                            <p>${genre.name}</p>
                        </td>
                        <td>
                            <a href="/genres/edit?id=${genre.id}">Edit</a>
                        </td>
                        <td>
                            <input type="button" value="Delete" id="input">
                        </td>
                    </tr>
                `)
            document.getElementById('input').onclick = function () {
                const value = genre.id
                $.ajax({
                    url: '/api/genres/',
                    method: 'delete',
                    contentType: "application/json",
                    data: JSON.stringify({id: value})
                })
                document.location.href = '/genres'
            }
        });
    });
</script>

</body>
</html>