<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }
    </style>
</head>
<body>
<a th:href="@{/}" href="index.html">Main page</a>

<h2>Edit</h2>

<form th:object="${genre}" th:action="@{'/genre-operations/genres/edit/{name}'(name=${genre.name})}"
      th:method="post">
    <input type="text" th:value="${genre.name}" name="genre" placeholder="Input genre name" class="form-control"><br>
    <button type="submit" class="btn btn-success">Update</button>
</form>

</body>
</html>