<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Crud App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding: 50px;
        }

        .menu, .menu td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>

<div class="menu">
    <a th:href="@{/books}" href="bookList.html">Books</a>
    <a th:href="@{/comments}" href="commentList.html">Comments</a>
    <a th:href="@{/authors}" href="authorList">Authors</a>
    <a th:href="@{/genres}" href="genreList.html">Genres</a>
</div>

</body>
</html>